RewriteEngine on

RewriteRule ^demos/?$ /demos.php [L]
RewriteRule ^docs/?$ /docs.php [L]
RewriteRule ^chat/?$ /chat.php [L]
RewriteRule ^draw/?$ /draw.php [L]
RewriteRule ^ui/?$ /ui.php [L]
RewriteRule ^analytics/?$ /analytics.php [L]
RewriteRule ^signup/?$ /signup.php [L]
RewriteRule ^welcome/?$ /welcome.php [L]
RewriteRule ^signin/?$ /signin.php [L]
RewriteRule ^dashboard/?$ /dashboard.php [L]
RewriteRule ^dashboard/keys/?$ /dashboard.php [L]
RewriteRule ^dashboard/usage/?$ /dashboard.php?usage=1 [L]
RewriteRule ^dashboard/feedback/?$ /dashboard.php?feedback=1 [L]
RewriteRule ^logout/?$ /logout.php [L]
RewriteRule ^contact/?$ /contact.php [L]
RewriteRule ^download/?$ /download.php [L]
RewriteRule ^tweet/?$ /tweet.php [L]