header.jumbotron {
  height: 280px;
  background: url('/images/texture.png');
  border-bottom: 1px solid #BEBEBE;
  -webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.55);
  box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.55);
}

header.jumbotron h1 {
  font-size: 200px;
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 200px;
}

header.jumbotron p {
  font-size: 35px;
  font-weight: bold;
  margin-left: 11px;
}

#header-buttons {
  margin-top: 40px;
}

#header-buttons div {
  margin-bottom: 20px;
  border-bottom: 1px solid #BFBFBF;
  padding-bottom: 5px;
}

#header-buttons p {
  font-size: 14px;
  margin-left: 0;
  min-height: 35px;
}

#header-buttons a.btn {
  width: 130px;
  text-align: right;
}

.mt {
  margin-top: 20px;
}

.ml {
  margin-left: 10px;
}

.mr {
  margin-right: 10px;
}

.badge-large {
  font-size: 30px;
}

#chatwindow {
  height: 300px;
  border: 1px solid black;
  overflow: auto;
}

ul#chatlist li {
  background: #EFEFEF;
  padding: 5px;
}

ul#chatlist li span {
  font-weight: bold;
  display: inline-block;
  width: 50px;
}

ul#chatlist li:nth-child(even) {
  background: white;
}

.input-message {
  width: 400px;
}
